<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PostsDB" 
			 providerName="Mongo"
			 connectionString="server=10.0.20.200:47017;database=posts;safe=true;journal=true;w=majority;readPreference=primary;connectTimeout=60s;maxPoolSize=300" />
	</connectionStrings>
</configuration>